<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Exercicio {{ htmlId }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='exercicio.style.css') }}">

</head>
<body>
    <div id="pergunta">
        <h1>{{ htmlId }}: {{ htmlTitulo }}</h1>
    </div>

    <div id="container">
      <div id="resposta" class="container">
        <p>Resposta</p>
          <pre> {{ htmlResposta }} </pre>
      </div>
      <div id="resultado" class="container">
        <p>Resultado</p>
        <pre> {{ htmlResultado }} </pre>
      </div>
    </div>

</body>
</html>